/* wrap */

#wrap {
	width: auto;
	height: auto;
	margin: 0 auto;
	position: relative;
	margin-top: 120px
}

#wrap .box {
	width: 336px;
	height: auto;
	padding: 10px;
	border: none;
	float: left;
}

#wrap .box .info {
	width: 336px;
	height: auto;
	border-radius: 8px;
	box-shadow: 0 0 11px #666;
	background: #fff;
	padding-bottom: 10px;
	position: relative;
}

#wrap .box .info .mark{
	background-image:  linear-gradient(to left, #fc5531, transparent);
    position: absolute;
    color: #fff;
	right: 10px;
    top: 10px;
    font-size: 12px;
    padding: 4px 10px 4px 100px;
	font-weight: bolder;
	border-top-right-radius: 3px;
    z-index: 2;
}

#wrap .box .info .pic {
	width: 316px;
	height: auto;
	margin: 0 auto;
	padding-top: 10px;
	filter: saturate(0.98) contrast(0.98);
}

#wrap .box .info .pic:hover {
	filter: saturate(1.07) contrast(1.07);
}

#wrap .box .info .pic img {
	width: 316px;
	border-radius: 3px;
	cursor: pointer;
}

#wrap .box .info .title {
	width: 316px;
	height: 40px;
	margin: 0 auto;
	line-height: 40px;
	text-align: center;
	color: #000;
	font-size: 18px;
	font-weight: bold;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	text-align: left;
}


#wrap .box .info .desc {
	color: #666;
	font-size: 14px;
	width: 316px;
	margin: 0 auto;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

#wrap .box .info .more{
	padding:10px 10px 0;
	height: 20px;
	color: #555;
	font-size: 12px;
}

#wrap .box .info .author{
	float: left;
	display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#wrap .box .info .author img{
	width: 18px;
	height: 18px;
	border-radius: 50%;
    background-color: #7f7f8c;
}
#wrap .box .info .author span{
	margin-left: 6px;
}

#wrap .box .info .like{
	float: right;
	display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}


#wrap .box .info .like .likes {
	margin:0 4px 0 6px;
	
}